{% extends "layout.html" %}


{% block body %}

<div class="row">

	<!-- left column -->
	<div class="col-md-12">
		<h2>ROUND: {{ round.title }}</h2>
		(<a href="/rounds/edit/{{round.id}}">edit title</a>)
		(<a href="/data/rounds/{{round.id}}">JSON</a>)
		<hr>
		<h3>Tokens ( {{ round.tokens|length }} )</h3> 
		<div class="row">
		<!-- DISPLAY TOKENS -->
			<div class="col-md-5">
				{% for token in round.tokens %}
				<div class="comment">
					<p>{{ token.name }}</p>
				</div>
				{% endfor %}
			</div>
			
			<!-- ADD TOKEN -->
			<div class="col-md-5">
				<form method="POST" action="/rounds/{{ round.id }}/token">
					<label for="name">Token name:</label>
					<input type="text" id="token" name="token">
					<br>					
					<label>
					<button type="submit" class="btn btn-success">Add Token</button>
					</label>
				</form>
			</div>
		</div>	
		<h3>Questions ( {{ round.questions|length }} )</h3>
		<div class="row">
			<!-- DISPLAY QUESTIONS -->
			<div class="col-md-5">
				{% for question in round.questions %}
				<div class="comment">
					<p>Question: {{ question.qText }}</p>
				</div>
				{% endfor %}
			</div>
			
			<!-- ADD QUESTION -->
			<div class="col-md-5">
				<form method="POST" action="/rounds/{{ round.id }}/question">
					<label for="qText">Question text:</label>
					<input type="text" id="qText" name="qText">
					<br>
					<label>
					<button type="submit" class="btn btn-success">Add Question</button>
					</label>
				</form>
			</div>
		</div>
		

	</div>


	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}